<main class="clouds-background site-content">

  <br />
  <br />
  
  <div class="frosty col-xs-10 col-xs-offset-1">

    <h2>About AirDojo</h2>

    <p>AirDojo is a project Rails app, built with devise, carrierwave, rankedmodel, and stripe, among other gems. If you find yourself here, feel free to have a look around and play with it. You can <%= link_to 'sign up for an account',  new_user_registration_path %>, create courses and lessons, upload videos, even enroll and pay pretend money, if you'd like (use <b>4242 4242 4242 4242</b> for your credit card number).</p>

    <p>The github repo for this project is <%= link_to 'here', 'https://github.com/risu-kun/airdojo' %>. If you notice any bugs, I would appreciate your feedback!</p>
    
  </div>
</main>
