<main class="clouds-background site-content">

  <br />
  <br />
  
  <div class="frosty col-xs-10 col-xs-offset-1">

    <h2>About Risse</h2>

    <p>Risse is a new-ish web developer, currently working through the <%= link_to 'Firehose Project', 'http://www.thefirehoseproject.com' %> to brush up on her skills.</p>

    <p>Risse is currently about three months into learning Rails. She would appreciate hearing your feedback, or hearing from other learners, or hearing from a really cool company in Atlanta who would like to hire her. Risse can be reached via <%= link_to 'Twitter', 'http://www.twitter.com/risuikari' %> or <%= mail_to 'risse.rigdon@gmail.com', 'email' %>.</p>
    
  </div>
</main>
