<main class="mountain-background site-content">

  <br />
  <br />
  
  <div class="frosty col-xs-10 col-xs-offset-1">

    <h2>About Risse</h2>

    <p>Risse is a new-ish web developer, currently working through the <%= link_to 'Firehose Project', 'http://www.thefirehoseproject.com' %> to brush up on her skills.</p>
    
  </div>
</main>
