<main class="lake-background site-content">

  <br />
  <br />
  
  <div class="frosty col-xs-10 col-xs-offset-1">

    <h2>About Airdojo</h2>

    <p>This is a project Rails app, built with <pre>devise, carrierwave, rankedmodel, and stripe</pre>.</p>
    
  </div>
</main>
