<div class="hero">
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<h1>Learn Tai Chi</h1>
		<h2>I'm your teacher, Zhang.</h2>
		<%= link_to 'Learn more', '#', class: 'btn btn-primary' %>
	</div>
</div>
