<main class="site-content" style="padding: 0px">
  <div class="hero">

    <br />
    <br />
    
  	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
  		<h1>Learn Tai Chi</h1>
  		<h2>I'm your teacher, Jìng.</h2>
  		<%= link_to 'Learn more', courses_path, class: 'btn btn-primary' %>
  	</div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 text-center">
    <div class="feature-box col-sm-4">
      <span class="glyphicon glyphicon-film"></span>
      <p>High-quality videos so you can get your kata just right</p>
    </div>

    <div class="feature-box col-sm-4">
      <span class="glyphicon glyphicon-headphones"></span>
      <p>Guided meditation series from the internet's greatest teachers</p>
    </div>

    <div class="feature-box col-sm-4">
      <span class="glyphicon glyphicon-user"></span>
      <p>Helpful mentors dedicated to your success</p>
    </div>
  </div>
</main>