@import url(https://fonts.googleapis.com/css?family=Julee);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,300italic);

.navbar-default {
  	border-radius:0;
  	font-family: 'Raleway', sans-serif;
  	
  	.navbar-brand {
  		font-family: 'Julee', cursive;
  		font-size: 40px;
  	}
}