@import url(https://fonts.googleapis.com/css?family=Julee);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,300italic);

// variables

//--- colors:
$amaranth: #E9354B;
$punch: #dc3246;
$brick-red: #c22c3e;
$mexican-red: #9C2332;
$cherrywood: #5C151E;


// General styles
a {
	color: $punch;
	font-weight: 1.5;
	&:hover, &:focus {
		color: $punch;
	}
}

.alert {
	margin: 0;
}

body, html {
	height: 100%;
}

.btn-primary {
	background-color: $punch;
	border-color: $punch;
	&:hover, &:focus, &:active, &:active:hover {
		background-color: $brick-red;
		border-color: $brick-red;
	}

	&:visited {
		background-color: $punch;
		border-color: $punch;
	}
}

.clr {
  clear:both;
}

footer {
	font-family: 'Raleway', sans-serif;
}

.site {
  display: flex;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

// Navbar styles
.navbar-default {
  	border-radius:0;
  	font-family: 'Raleway', sans-serif;
  	margin: 0;

  	h1, h2 {
  		margin: 0;
  	}

  	.navbar-brand {
  		font-family: 'Julee', cursive;
  		font-size: 40px;
  	}
}

// Hero styles
.hero {
	background: url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 533px;
	margin-top: 0;
}

.frosty {
	background: rgba(0,0,0,0.5);
	border-radius: 1em;
	color: white;
	padding: 10px;

	
}

// Body styles

.mountain-background {
	background: url('mountains.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lake-background {
	background: url('lake-mountains.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// Form styles

input.string, input.password, input.numeric, textarea {
		background: rgba(0,0,0,0.5);
		border: 1px #ccc;
		border-radius: 0.2em;
		padding: 3px;
}

.form-inputs {

	label {
		margin: 3px;
	}

	input {
		margin: 3px;
		width: auto;
	}
}

// footer styles
footer {
	color: #fff;
	background-color: rgba(36,32,33,0.9);
	height: 60px;
}
